*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #25abd9;
  --primary-dark: #2090b7;
}

body {
  background-color: #b4e0ef;
  height: 100vh;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: var(--primary);
  border: 0;
  border-radius: 5px;
  box-shadow: 0 6px 0 var(--primary-dark), 0 5px 15px -4px #000;
  color: #fff;
  cursor: pointer;
  font-family: roboto;
  font-size: 20px;
  font-weight: 800;
  height: 50px;
  padding: 5px;
  text-transform: uppercase;
  transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
  width: 150px;
}

.button:hover,
.button:focus {
  opacity: 0.9;
  outline: 0;
}

.button:active {
  box-shadow: none;
  transform: translateY(3px);
}
