@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --primary: #25abd9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #06435c;
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.button {
  background: none;
  border: solid 2px white;
  color: white;
  cursor: pointer;
  font-family: Montserrat, serif;
  font-size: 20px;
  padding: 10px 20px;
  transition: opacity 0.2s ease-in-out;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  pointer-events: none;
  transition: background-color 0.2s ease-in-out;
}

.overlay__card {
  background-color: white;
  border-radius: 20px;
  font-family: Montserrat, serif;
  min-width: 400px;
  width: 20%;
  height: auto;
  position: relative;
  opacity: 0;
  padding: 25px;
  transform: translateY(50px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.overlay__close {
  position: absolute;
  right: 25px;
  top: 25px;
  cursor: pointer;
  font-size: 25px;
  transition: opacity 0.2s ease-in-out;
}

.overlay__header,
.overlay__text {
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.overlay__header {
  transition-delay: 0.2s;
}

.overlay__text {
  transition-delay: 0.4s;
}

/* Hover */
.button:hover {
  opacity: 0.6;
}

.overlay__close:hover {
  opacity: 0.6;
}

/* Active States */
.overlay--active {
  background-color: rgba(0 0 0 / 0.5);
  pointer-events: all;
}

.overlay--active .overlay__card {
  opacity: 1;
}

.overlay--active :is(.overlay__card, .overlay__header, .overlay__text) {
  opacity: 1;
  transform: translateY(0px);
}
