*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #25abd9;
  --primary-dark: #2090b7;
}

body {
  background-color: #b4e0ef;
  height: 100vh;
}

.container {
  background: linear-gradient(
      to right top,
      #d16ba5,
      #c777b9,
      #ba83ca,
      #aa8fd8,
      #9a9ae1,
      #8aa7ec,
      #79b3f4,
      #69bff8,
      #52cffe,
      #41dfff,
      #46eefa,
      #5ffbf1
    )
    50% / 200% 200%;
  animation: gradient 10s ease-in-out infinite;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  font-family: Roboto;
  font-size: 50px;
  color: white;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 100%;
  }

  100% {
    background-position: 0%;
  }
}
